body {
    background-color: #c16e2a
}
.car {
    width: 50%;
    height: 50%;
    filter: drop-shadow(50px 50px rgba(0, 0, 0, 0.199));
    margin-top: -200px;
    margin-left: 400px;
}
.textos {
    width: 560px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: -120px;
}
.modelo {
    margin-top: 150px;
    margin-left: 550px;
    font-family: "Archivo Black", sans-serif;
}
.indicator h1 {
    font-size: 60px;
    margin-left: 190px;
}
.seta {
    width: 40px;
    margin-left: 510px;
    margin-top: -100px;
}