* {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    text-decoration: none;
}
body {
    background: black ;
    z-index: 2;

}
.main {
    position: relative;
    z-index: 2;
}
.px {
    opacity: 0.10;
}

header {
    display: flex;
    height: 100px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    font-size: 15px;
    font-family: "Bungee", sans-serif;
    border: 2px solid, rgb(129, 10, 10);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,.6);
}
.contentHeader {
margin: auto;
max-width: 100%;
width: 100%;
display: flex;

}
header nav ul {
    display: flex;
    text-decoration: none;
    gap: 1rem;
    
}
header nav ul a:hover {
    text-decoration: underline;
    color: rgb(145, 32, 12);

}

.carrosel {
    height: 100vh;
    position: relative;
}
 .list {
        width: 70vh;
        height: 50%;
        margin: auto;
 }

 .item {
        position: absolute;
        inset: 0;
 }
.carrosselimg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 } 
 .carrossel img {
    width: 700px;
    height: 500px;
    margin-left: 500px;

 }

 
.conteudo {
        width: 70%;
        right: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 5px;
        margin-top: -40px
 }
 .conteudo button a {
    color: black;
 }
.conteudo h2 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    
}
.conteudo p {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.information {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: rgb(150, 16, 16);
    cursor: pointer;
    font-weight: bold;
    margin-right: 447px;
    
}

.information:hover {
    background-color: #fff;
}

.indicators {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 90vw;
    left: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 70px;
    gap: 15px;
}

.number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

.arrows button i{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    
}
.arrows {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

.arrows button {
    background-color: rgb(150, 16, 16);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #fff;
}


.item {
    transform: translateX(100vw);
    transition: 0.5s;
    opacity: 0;
     
}

.carroselimg {
    transition: 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
}

.conteudo h2 {
    transform: translateX(200px);
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}
.conteudo p {
    transition-delay: 0.9s;
    opacity: 0;
}
.conteudo .information {
    transition-delay: 0.11s;
    opacity: 0;
}

.list {
    & .active {
        transform: translateX(0);
        transition: 0.5s;
        opacity: 1;
    }
    & .conteudo {
         transform: translateX(200px);
         transition: 0.7s;
         transition-delay: 0.3s;
    }
    & .conteudo p {
        transform: translateX(0);
        opacity: 1;
    }
    & .carroselimg {
        
    }
    & .conteudo h2 {
         transform: translateX(0);
         opacity: 1;
    }
    & .conteudo .information {
        transform: translateX(0);
        opacity: 1;
    }
}

.carousel img {
    border-radius: 10px;
    height: 400px;
    width: 100%;
}

.voltar {
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
}
