* {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    text-decoration: none;
}
body {
    background:linear-gradient(100deg, rgb(20, 82, 20), rgb(51, 239, 51));
    overflow hidden;
}
header {
    display: flex;
    height: 100px;
    background: black;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
     font-family: "Bungee", sans-serif;
     border: 2px solid, white;
}
.contentHeader {
margin: auto;
max-width: 100%;
width: 100%;
display: flex;
justify-content: space-between; 
}
.imgpx {
    height: 120%;
    width: 40%%;
}
header nav ul {
    display: flex;
    text-decoration: none;
    gap: 3rem;
}
header nav ul a:hover {
    text-decoration: underline;
    color: rgb(53, 145, 53);
}
i:hover {
    color: rgb(53, 145, 53);;
}
.atention {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}
.text-img{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    margin: 20px;
}

.carrosel {

}
.imgs-carrosel {
    border-radius: 20px;
    margin: 20px;
}
content {
    position: absolute;
}